#under-dev {
    font-weight: 700;
    text-align: center;
    font-size: 36px;
  }

p {
    font-family: "Arial";
    font-size: 12px;
    font-weight: 400;
    text-align: left;
  }

img {
    height: auto;
    width: 150px;
  }

.im-border{
  border: 3px solid darkred;
}

#images{
  text-align:center;
}

.yellow {
  color: rgb(235, 235, 59)
}

* {
  line-height: 1.5;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rosybrown;
}

#pic-of-me {
  display: block;
  margin: 10px;
  margin-left: auto;
}

/* #bordered {
  border: 1px solid red;
} */

#title {
  text-align: center;
}

h2 {
  color: darkred;
}

/* * {
  outline: 1px solid red;
} */

.container {
  width: 700px;
  margin: 20px auto;
  padding: 10px;
  border: 5px solid blue;
  background-color: orange;
}
