/* styles.css */

/* * {
    color: green;
    background-color: red;
  }
   */
  /* p {
    color: red;
  } */

  .alert-text {
    color: red;
  }

  #title {
    background-color: red;
  }

  #under-dev {
    font-weight: 700;
    text-align: center;
    color: red;
    font-size: 36px;
  }

  p {
    /* hex example: */
    color: #1100ff;
    font-family: "Calibri";
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }

  img {
    height: auto;
    width: 150px;
  }
  
  /* div {
    color: white;
    background-color: limegreen;
  } */

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }